@charset "UTF-8";

@font-face {
  font-family: "SF";
  font-display: swap;
  src: url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF";
  font-display: swap;
  src: url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  color: #ccc;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  display: block;
  font-size: 0;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  font-family: 'SF', sans-serif;
  font-weight: 300;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-slider {
  width: 100%;
  height: 100vh;
  background: #0e0e0e;
  position: relative;
  overflow: hidden;
}

.app-slider__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  color: #ffffff;
  font-size: 2rem;
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.app-slider__hover_hidden {
  opacity: 0;
}

.app-slider__el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.app-slider__el_1:before,
.app-slider__el_1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;
}

.app-slider__el_1:after {
  background: url(../img/iphone-12-pro-graphite-hero.png) center center/contain no-repeat fixed;
}

.app-slider__el_2 {
  left: 100%;
}

.app-slider__el_2:before,
.app-slider__el_2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;
}

.app-slider__el_2:after {
  background: url(../img/iphone-12-pro-blue-hero.png) center center/contain no-repeat fixed;
}

.app-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150 !important;
  background: #0e0e0e;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.app-loader:before,
.app-loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.app-loader:before {
  -webkit-animation: anim-before .5s ease 0s infinite alternate;
  animation: anim-before .5s ease 0s infinite alternate;
}

.app-loader:after {
  width: .5rem;
  height: .5rem;
  background: #2d2d2d;
  -webkit-animation: anim-after .5s ease 0s infinite alternate;
  animation: anim-after .5s ease 0s infinite alternate;
}

.app-loader_no-active {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes anim-before {
  0% {

  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes anim-before {
  0% {

  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@-webkit-keyframes anim-after {
  0% {

  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
}

@keyframes anim-after {
  0% {

  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
}

.webp .app-slider__el_1:after {
  background: url(../img/iphone-12-pro-graphite-hero.webp) center center/contain no-repeat fixed;
}

.webp .app-slider__el_2:after {
  background: url(../img/iphone-12-pro-blue-hero.webp) center center/contain no-repeat fixed;
}

@media screen and (max-width: 64rem) {
  .app-slider {
    display: none;
  }

  .app:before {
    content: '';
    position: absolute;
    background: url("../icons/alien.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
  }

  .app:after {
    content: 'P.S. Это приложение только для десктопной версии';
    position: absolute;
    bottom: 13%;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
  }

  .webp .app:before {
    background: url(../icons/alien.webp);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}